extend ../../layouts/layout.jade

block title
	| Dashboard - Buy

block setting
	.hide-breadcrumb

mixin db-product-cover(statusText, statusClasses)
	.db-product__cover.db-product-cover
		img.db-product-cover__thumb(src = "../../assets/images/product/1-small.jpg",
			width = "235", height = "235")
		if (statusText !== "none")
			.db-product-cover__status(class = statusClasses)
				if (statusText === "complex")
					h1.db-product-cover__icons
						i.material-icons.selected attach_money
						i.material-icons.selected local_shipping
						i.material-icons redo
						i.material-icons.selected undo
					h2.db-product-cover__icon-texts
						span.db-product-cover__icon-text.selected đã thanh toán
						span.db-product-cover__icon-text.selected đã gửi hàng
						span.db-product-cover__icon-text chưa gửi nhận xét
						span.db-product-cover__icon-text.selected đã được nhận xét
				else
					h1= statusText
		.db-product-cover__info
			h1.db-product-cover__title
				a.db-product-cover__link(href = "../product") product one with short description
			ul.db-product-cover__list
				li
					span.db-product-cover__label Mã phiên
					a(href = "../product").db-product-cover__link 1005001
				li
					span.db-product-cover__label Người bán
					a(href = "../profile").db-product-cover__link Nguyễn Văn A
				li
					span.db-product-cover__label Shop
					a.db-product-cover__link ABC
			.db-product-cover__buttons
				a.db-product-cover__button(href = "#")
					i.material-icons my_library_add
				a.db-product-cover__button(href = "#")
					i.material-icons person_add
				a.db-product-cover__button(href = "../dashboard-inbox")
					i.material-icons messenger

mixin db-product-description(price, priceShip, priceOwn, timer, timerEnd, subInfo)
	.db-product__description.db-product-description
		h2.db-product-description__timer!= timer
		h3.db-product-description__price-own!= priceOwn
		h1.db-product-description__price!= price
		h3.db-product-description__price-ship!= priceShip
		.db-product-description__sub-info-area
			h2.db-product-description__timer-end!= timerEnd
			h3.db-product-description__sub-info!= subInfo
		.db-product-description__btn
			block

mixin db-product-button(buttonTitle, buttonClasses)
	a.button.button--dashboard(
		href = "#",
		class = buttonClasses)!= buttonTitle

block content
	.dashboard-page
		.dashboard-page__header.fluid-header
			.fluid-header__content
				.fluid-header__tabs
					.fluid-header__tab.selected: a(href = "../dashboard-buy") quản lý mua
					.fluid-header__tab: a(href = "../dashboard-sell") quản lý bán
					.fluid-header__tab: a(href = "../dashboard-inbox") tin nhắn
		.dashboard-page__content
			.dashboard-page__filter
				ul.db-filter.cols.selector
					each title in ["tổng quan", "đấu giá", "thương lượng", "theo dõi", "chờ thanh toán", "chờ giao dịch"]
						li.cols__item.db-filter__item(class = (title === "tổng quan" ? "selected" : ""))
							a.db-filter__link(href = "#", class = selectedClass).button.button--line.button--small= title
			//- SECTION DIVIDER ----------
			section.db-section
				header.db-section__header
					h1.db-section__title Đấu giá
					.radio
						input.radio__button(type = "radio", name = "deal", value = "now", checked)#deal-now
						label.radio__label(for = "deal-now") Đang đấu giá
					.radio
						input.radio__button(type = "radio", name = "deal", value = "over")#deal-over
						label.radio__label(for = "deal-over") Đã thua
				.db-section__list.db-products.cols#deal-now-section
					.db-products__item.cols__item: .db-product
						+db-product-cover("none")
						+db-product-description("2.300.000 ₫",
												"SHIP: + 30.000 ₫",
												"bạn đặt 2.400.000 ₫",
												"còn 02:30:21",
												"24/03 - 12:12:00",
												"20 lượt")
							+db-product-button("đặt giá", "")
					.db-products__item.cols__item: .db-product
						+db-product-cover("none")
						+db-product-description("2.300.000 ₫",
												"SHIP: + 30.000 ₫",
												"bạn đặt 2.400.000 ₫",
												"còn 02:30:21",
												"24/03 - 12:12:00",
												"20 lượt")
							+db-product-button("đặt giá", "")
					.db-products__item.cols__item: .db-product
						+db-product-cover("đang thua", "highlight")
						+db-product-description(orangize("2.300.000 ₫"),
												"SHIP: + 30.000 ₫",
												"bạn đặt 1.000.000 ₫",
												orangize("còn 00:30:21"),
												"24/03 - 12:12:00",
												"20 lượt")
							+db-product-button("đặt giá", "")
					.db-products__item.cols__item: .db-product
						+db-product-cover("đang thua", "highlight")
						+db-product-description(orangize("2.300.000 ₫"),
												"SHIP: + 30.000 ₫",
												"bạn đặt 1.000.000 ₫",
												"còn 22:30:21",
												"24/03 - 12:12:00",
												"20 lượt")
							+db-product-button("đặt giá", "")
				.db-section__list.db-products.cols#deal-over-section
					- for (var i = 0; i < 4; i++)
						.db-products__item.cols__item: .db-product
							+db-product-cover("đang thua", "highlight")
							+db-product-description(orangize("2.300.000 ₫"),
													"SHIP: + 30.000 ₫",
													"bạn đặt 1.000.000 ₫",
													"còn 22:30:21",
													"24/03 - 12:12:00",
													"20 lượt")
								+db-product-button("đặt giá", "")
				footer.db-section__footer
					include ../../layouts/pagination.jade
			//- SECTION DIVIDER ----------
			section.db-section
				header.db-section__header
					h1.db-section__title Thương lượng
				.db-section__list.db-products.cols
					.db-products__item.cols__item: .db-product
						.db-products__item.cols__item: .db-product
						+db-product-cover("không đạt")
						+db-product-description("2.300.000 ₫",
												"SHIP: + 30.000 ₫",
												"bạn ra giá 2.400.000 ₫",
												"1 ngày 20:34",
												"&nbsp;",
												"2 lượt")
							+db-product-button("thương lượng", "button--orange-line")
					.db-products__item.cols__item: .db-product
						.db-products__item.cols__item: .db-product
						+db-product-cover("none")
						+db-product-description("2.300.000 ₫",
												"SHIP: + 30.000 ₫",
												"bạn ra giá 2.400.000 ₫",
												orangize("20:34"),
												"&nbsp;",
												"2 lượt")
							+db-product-button("thương lượng", "button--orange-line")
					.db-products__item.cols__item: .db-product
						.db-products__item.cols__item: .db-product
						+db-product-cover("không đạt")
						+db-product-description("2.300.000 ₫",
												"SHIP: + 30.000 ₫",
												"bạn ra giá 2.400.000 ₫",
												"1 ngày 20:34",
												"&nbsp;",
												"2 lượt")
							+db-product-button("thương lượng", "button--orange-line")
					.db-products__item.cols__item: .db-product
						.db-products__item.cols__item: .db-product
						+db-product-cover("hết hạn")
						+db-product-description("2.300.000 ₫",
												"SHIP: + 30.000 ₫",
												"bạn ra giá 2.400.000 ₫",
												"1 ngày 20:34",
												"&nbsp;",
												"2 lượt")
							+db-product-button("thương lượng", "button--orange-line")
				footer.db-section__footer
					include ../../layouts/pagination.jade
			//- SECTION DIVIDER ----------
			section.db-section
				header.db-section__header
					h1.db-section__title Theo dõi
				.db-section__list.db-products.cols
					.db-products__item.cols__item: .db-product
						.db-products__item.cols__item: .db-product
						+db-product-cover("hết hàng")
						+db-product-description("2.300.000 ₫",
												"SHIP: + 30.000 ₫",
												"&nbsp;",
												"23:30:21",
												"24/03 12:32:21",
												"&nbsp;")
							+db-product-button("chi tiết", "button--gray")
					.db-products__item.cols__item: .db-product
						.db-products__item.cols__item: .db-product
						+db-product-cover("none")
						+db-product-description("2.300.000 ₫",
												"SHIP: + 30.000 ₫",
												"&nbsp;",
												orangize("00:30:21"),
												"24/03 12:32:21",
												"<a href=\"#\">cho vào giỏ hàng</a>")
							+db-product-button("mua ngay", "")
					.db-products__item.cols__item: .db-product
						+db-product-cover("none")
						+db-product-description("2.300.000 ₫",
												"SHIP: + 30.000 ₫",
												"bạn đặt 2.400.000 ₫",
												"còn 02:30:21",
												"24/03 - 12:12:00",
												"20 lượt")
							+db-product-button("đặt giá", "")
					.db-products__item.cols__item: .db-product
						.db-products__item.cols__item: .db-product
						+db-product-cover("none")
						+db-product-description("2.300.000 ₫",
												"SHIP: + 30.000 ₫",
												"&nbsp;",
												orangize("00:30:21"),
												"24/03 12:32:21",
												"<a href=\"#\">thương lượng</a>")
							+db-product-button("mua ngay", "")
				footer.db-section__footer
					include ../../layouts/pagination.jade
			//- SECTION DIVIDER ----------
			section.db-section
				header.db-section__header
					h1.db-section__title Chưa thanh toán
				.db-section__list.db-products.cols
					.db-products__item.cols__item: .db-product
						+db-product-cover("đã huỷ")
						+db-product-description("2.300.000 ₫",
												"FREESHIP",
												"&nbsp;",
												"23:30:21",
												"24/03 12:32:21",
												"&nbsp;")
							+db-product-button("chi tiết", "button--gray")
					.db-products__item.cols__item: .db-product
						+db-product-cover("none")
						+db-product-description("4.600.000 ₫",
												"FREESHIP",
												"SL: 2 x 2.300.000 ₫",
												orangize("00:30:21"),
												"24/03 12:32:21",
												"&nbsp;")
							+db-product-button("thanh toán", "")
					.db-products__item.cols__item: .db-product
						+db-product-cover("none")
						+db-product-description("4.600.000 ₫",
												"FREESHIP",
												"SL: 2 x 2.300.000 ₫",
												orangize("00:30:21"),
												"24/03 12:32:21",
												"&nbsp;")
							+db-product-button("thanh toán", "")
					.db-products__item.cols__item: .db-product
						+db-product-cover("đã huỷ")
						+db-product-description("2.300.000 ₫",
												"FREESHIP",
												"&nbsp;",
												"23:30:21",
												"24/03 12:32:21",
												"&nbsp;")
							+db-product-button("chi tiết", "button--gray")

				footer.db-section__footer
					include ../../layouts/pagination.jade
			//- SECTION DIVIDER ----------
			section.db-section
				header.db-section__header
					h1.db-section__title Giao dịch thành công
				.db-section__list.db-products.cols
					.db-products__item.cols__item: .db-product
						+db-product-cover("complex", "done")
						+db-product-description("2.300.000 ₫",
												"FREESHIP",
												"SL: 1 x 2.300.000 ₫",
												"&nbsp;",
												"30/04 12:32:21",
												"&nbsp;")
							+db-product-button("nhận xét", "button--gray")
					.db-products__item.cols__item: .db-product
						+db-product-cover("complex", "done")
						+db-product-description("6.000.000 ₫",
												"FREESHIP",
												"SL: 2 x 3.000.000 ₫",
												"&nbsp;",
												"30/04 12:32:21",
												"&nbsp;")
							+db-product-button("nhận xét", "button--gray")
					.db-products__item.cols__item: .db-product
						+db-product-cover("complex", "done")
						+db-product-description("2.300.000 ₫",
												"FREESHIP",
												"SL: 1 x 2.300.000 ₫",
												"&nbsp;",
												"30/04 12:32:21",
												"&nbsp;")
							+db-product-button("chi tiết", "button--gray")
					.db-products__item.cols__item: .db-product
						+db-product-cover("complex", "done")
						+db-product-description("2.300.000 ₫",
												"FREESHIP",
												"SL: 1 x 2.300.000 ₫",
												"&nbsp;",
												"30/04 12:32:21",
												"&nbsp;")
							+db-product-button("nhận xét", "button--gray")
				footer.db-section__footer
					include ../../layouts/pagination.jade